@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .container {
    @apply flex min-w-full flex-col xl:px-28 lg:px-20 md:px-16 sm:px-10 px-[10px] gap-7 justify-center content-center;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  --cursor-color: #333
}

html.dark-mode {
  --cursor-color: #fff
}
